:root {
  /* ## Get styles from figma 
  https://www.figma.com/file/yS20gyYfFWAFsYKXzIKKHb/Sistema-de-dise%C3%B1o---Guifaffinity-(Copy)?type=design&node-id=77-90&t=WKFhFXkBTnvf6nBm-0
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
  */

  --background-color: #f7f7f7;
  --white: #fff;
  --light-gray: #e0e0e0;
  --medium-gray: #666666;
  --dark-gray: #212121;

  --font-small-size: 12.64px;
  --font-small-line-height: 17px;
  --font-base-size: 16px;

  /* desde el figma */
  --color-Purple: #9933ff;
  --color-LightRed: #ff6666;
  --color-LightBlue: #00ccff;
  --color-LightGreen: #00ff99;
  --color-LightYellow: #fff9aa;
  --color-Blue: #4158d0;
  --color-Pink: #c850c0;
  --color-Yellow: #ffcc70;
  --color-Black: #000000;
  --color-Grey: #999999;
  --color-White: #ffffff;

  --color-tag: #00000099;

  --guif-box-side: 15rem;
  --guif-box-gap: 2rem;
}
