.author {
  font-weight: bold;
}

.single-gif-container {
  margin-top: 2rem;
  max-width: 400px;
}

.tags-list {
  display: flex;
  font-weight: 600;
  flex-wrap: wrap;
}

.tag {
  color: var(--color-White);
  background-color: var(--color-tag);
  padding: 0.4rem 0.7rem;
  margin: 0.2rem;
  border-radius: 1rem;
}
