.gif-container .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 33px;
}

.gif-container .title img {
  width: 40px;
}

.gif-container .title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 2rem;
}
