.gif-container .grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(var(--guif-box-side), 1fr));
  gap: var(--guif-box-gap);
  justify-content: space-around;
}

.gif-container .title img {
  width: 40px;
}

.gif-container .title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 2rem;
}
