body {
  background: linear-gradient(
    157.9deg,
    #4158d0 1.21%,
    rgba(200, 80, 192, 0.46) 49.58%,
    rgba(255, 204, 112, 0.58) 96.91%
  );
  text-align: left; /* 3 */
  font-family: "OpenSans";
  margin: 0 7%;
}

h1 {
  color: #ffffff;
  font-weight: normal;
  font-size: 41.83px;
}
h2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 36.41px;
}
h3 {
  color: #ffffff;
  font-weight: normal;
  font-size: 25.63px;
}

/* fuentes */
@font-face {
  font-family: "OpenSans"; /*Can be any text*/
  src: url("./fonts/open_sans/OpenSans-Light.ttf") format("truetype");
  font-weight: light;
}
@font-face {
  font-family: "OpenSans"; /*Can be any text*/
  src: url("./fonts/open_sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans"; /*Can be any text*/
  src: url("./fonts/open_sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans"; /*Can be any text*/
  src: url("./fonts/open_sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
}
