body {
  background-color: #9933ff; /* 2 */
  text-align: left; /* 3 */
  font-family: OpenSans;
}

h1 {
  color: #ffffff;
  font-weight: normal;
  font-size: 41.83x;
}
h2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 36.41px;
}
h3 {
  color: #ffffff;
  font-weight: normal;
  font-size: 25.63px;
}

/* fuentes */
@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("OpenSans"), url("./font/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Regular"; /*Can be any text*/
  src: local("OpenSans"), url("./font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold"; /*Can be any text*/
  src: local("OpenSans"), url("./font/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraBold"; /*Can be any text*/
  src: local("OpenSans"),
    url("./font/OpenSans-ExtraBold.ttf") format("truetype");
}
